@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #E3F2fd;
}

.chatbot{
    background: #fff;
    width: 420px;
    position: fixed;
    right: 40px;
    bottom: 100px;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0.1),0 32px 64 px -48px rgba(0,0,0,0.5);
    
}
.chatbot header{
    background: #62d2a2;
    color: #fff;
    font-size: 1.4rem;
    padding: 16px 0;
    text-align: center;
}
